* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: rgb(148, 137, 137);
    background-image: url(https://i.pinimg.com/originals/ea/3f/d3/ea3fd3102ccf575e3c33954f73eab78d.jpg);

  }

  button {
    width: 50px;
  }

  .header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* background: black; */
  }
  
    .logo {
      animation: spin 500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /* color: gray; */
    }
    
    .main {
      height: 90vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-size: 100%;
  }

  .addBook {
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      color: gray;
  }

  .addBookInput {
    width: 75%;
    text-align: center;
  }

  .book {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      margin-bottom: 50px;
  }

  .displayBox {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    width: 75%;
    height: 90vh;
    align-items: center;
    overflow-y: auto;

  }