* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes menu-icon {
  0% { opacity: 0}
  100% {opacity: 1}
}

@keyframes fontbulger {
  0%, 35%, 65%, 100% {
    color: red;
  }
  50% {
    color: black;
  }
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgb(148, 137, 137);
  background-image: url(https://i.pinimg.com/originals/ea/3f/d3/ea3fd3102ccf575e3c33954f73eab78d.jpg);
  font-family: 'Fredericka the Great', cursive;
}

button {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background: rgb(59, 56, 56);
  border-color: gray;
  color: white;
}

button:hover {
  background: darkgray
}

input {
  height: 30px;
  width: 200px;
  margin: 5px;
  background: black;
  border-color: white;
  color: white
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 5vw;
  font-family: 'Fredericka the Great', cursive;
}

#logo {
  animation: fontbulger 10s infinite;
}
    
#logo:hover {
  color: rgb(39, 32, 32) !important;
  animation: spin 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#menu-icon {
  animation: menu-icon 4s;
}

#menu-icon:hover {
  animation: menu-icon-hover 2s infinite;
  color: gray;
}

.main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 100%;
}


.addBook {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: gray;
  font-size: 2vw;
}

.addBookInput {
  width: 75%;
  text-align: center;
  margin-bottom: 15px;
}

#add-random {
  margin: 10px;
}

.book {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 100px;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  height: 85vh;
  margin-top: 5vh;
  align-items: center;
  overflow-y: auto;
  padding-top: 2%;
  font-size: 1.5vw;
}

.displayBox::-webkit-scrollbar { 
  width: 0 !important }

  
  .right-side-display {
    margin-top: 3vh;
    width: 30%;
    height: 87vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1vw;
    padding-top: 3%;
  }
  
  .right-side-display::-webkit-scrollbar { 
    width: 0 !important }
  